extends includes/layout.pug

block content
  article#about
    h1.about-title= page.title
    != page.content
    .about-technologies
      if (page.technologies)
        h2!= "Technologies"
        ul.tech-list-item
          each item, index in page.technologies
            li.tech-item
              a(href=item.techUrl rel=noopener)
                figure
                  .tech-item-img
                    img(src=url_for(item.imgSrc) alt=item.name title=item.name)
                  figcaption
                    cite.tech-item-name!= item.name
                    p(class=item.level=='Expert'?'level-green':item.level=='Proficient'?'level-blue':'level-normal')!= item.level
                    span.tech-item-time!= item.time
