extends includes/layout.pug

block content
  article#about
    h1.about-title= page.title
    != page.content
    .about-technologies
      if (page.skills)
        h2!= "Skills"
        ul.skillCardList
          each item in page.skills
            - var imgBgColor = item.img && item.img.color || 'white'
            - var maxWidth = item.img && item.img.maxWidth || '65px'
            li.skillCard
              i.skillCard__button(style='background-color:'+imgBgColor+';')
                img(src=url_for(item.img && item.img.src) alt=item.name style='max-width:' + maxWidth)
              aside.moreInfoCard
                - var borderColorClass = item.level=='Expert'?'borderBottomGreen':item.level=='Proficient'?'borderBottomBlue':'borderBottomNormal'
                b.moreInfoCard__title(class=borderColorClass)!= item.name
                div.moreInfoCard__content
                  dl.moreInfoCard__dataList
                    - var levelColorClass = item.level=='Expert'?'level-green':item.level=='Proficient'?'level-blue':'level-normal'
                    dt!= 'Experience'
                    dd(class=levelColorClass)
                      span(class='level-defaultColor')!= item.time
                      span(class=levelColorClass)!= '`' + item.level + '`'
                    if (item.projects)
                      dt!= 'Projects (' + item.projects.length + ')'
                      dd
                        ul.moreInfoCard__projectList
                          each project in item.projects
                            li
                              a(href=project.url target='_blank' rel=noopener)!= project.name
                div.moreInfoCard__scrim
                  span.moreInfoCard__caret
