if (theme.algolia_search.enable)
  script(src=url_for('/js/search/algolia.js'))
if theme.google_analytics
  script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '!{theme.google_analytics}', 'auto');
    ga('send', 'pageview');
  script(async src='https://www.google-analytics.com/analytics.js')
if (theme.pwa && theme.pwa.enable)
  link(rel="manifest" href=theme.pwa.manifest)
  script(async src=url_for('/js/registerServiceWorker.js'))