
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' | ' + config.title

- var pageDescription = page.description || page.title || config.description || ''
- var pageKeywords = (config.keywords || []).join(',')
- if (page.tags && page.tags.data) pageKeywords = page.tags.data.map(function(tag) {return tag.name;}).join(',')
- var pageCopyright = config.copyright || config.author

doctype html
html(lang=config.language)
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(http-equiv='Accept-CH' content='DPR, Viewport-Width, Width')
    title= pageTitle
    meta(name="description" content=pageDescription)
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,viewport-fit=cover")
    if is_post()
      - var pageImageUrl = page.featuredImage && config.url + '/' + page.path + page.featuredImage.url
      meta(property="og:image" content=pageImageUrl)
      meta(name="twitter:image" content=pageImageUrl)
      meta(property="fb:app_id" content="155567495101835")
      meta(name="twitter:card" content=page.featuredImage ? "summary_large_image" : "summary")
      meta(name="twitter:url" content=page.permalink property="og:url")
      meta(name="twitter:title" content=pageTitle property="og:title")
      if page.description
        meta(name="twitter:description" content=page.description property="og:description")
      meta(name="twitter:site" content="@jquintozamora")
      meta(property="og:type"   content="article")
      meta(property="og:url"    content=page.permalink)
      meta(property="og:title"  content=pageTitle)
      if page.permalink
        link(rel="canonical" href=page.permalink)
    link(rel="author" href="https://plus.google.com/u/0/108403117712061507579")
    link(rel="alternate" type="application/rss+xml" title="Jose Quinto" href="https://blog.josequinto.com/feed.rss")
    meta(name="theme-color" content="#ffffff")
    !=favicon_tag(config.favicon || theme.favicon || '/favicon.ico')
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    each item in theme.cdn.css
      if item !== undefined
        link(rel='stylesheet', href=item + '?version=' + theme.version)
    include ./head.pug
    include ./config.pug
  body
    #bodyWrapper
      //- i.fa.fa-arrow-right#toggle-sidebar(aria-hidden="true")
      //- include ./sidebar.pug
      if (!is_post())
        include ./nav.pug
      #content-outer
        block top_img
        #content-inner.layout
          if body
            div!= body
          else
            block content
      footer
        include ./footer.pug
      i.fa.fa-arrow-up#go-up(aria-hidden="true")
    each item in theme.cdn.js
      if item !== undefined
        script(src=item)
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url + '?version=' + theme.version)
    include ./additional-js.pug
